@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swapfamily=Poppins:wght@300&display=swap" rel="stylesheet"> ');

*/margin{
    margin:0;
    border:0;
    }

    body{
        font-family:poppins, sans-serif;
        color:antiquewhite;
        padding:20px;
        }