@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swapfamily=Poppins:wght@300&display=swap" rel="stylesheet"> ');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #2c88e2;
}

#covid-19 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 4px;
    color: darkslategray
}

#covid-2019 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 4px;
    color: darkslategray;
}


#nav {
    font-size: 100%;
    letter-spacing: 4px;
   }

   #nav:hover {
    border-bottom: 1px solid #2c88e2;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: inherit;   
     }

     .active {
    border-bottom: 1px solid darkslategray;
}

.coronavirus-image {
   text-align:center;
   margin: 0 auto;
   display:block;
}

#wash-your-hands {
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-left: 30px;

    position: relative
}

sanitise-santise {
    color: #2c88e2;
}

sanitise {
    font-size: 100%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color:darkslategray;
    bottom: 30px;
    right: 150px;

    position: absolute;

}

#origin {
    height: 600px;
}

#wuhan {
    padding-top: 30px;
    width: 33%;
    float: left;


}

#origin-2019 {
    padding-top: 30px;
    width: 33%;
    float: right;
}



.economy {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

hr {
    border-top: 1px solid #2c88e2;
    width: 100%;
    margin: 5px 0;
}

#the-impact-on-our-economy {
    border-top: 1px solid darkslategray;
    width: 100%;
    margin: 5px 0;
}

.government-restrictions {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.header {
    height: 150px;
    text-align:center;
}


.government h2 {
    text-align: right;
}

.restrictions p {
    text-align: right;
}

#staff-impact {
    text-align: center;
    margin: 20px 0;

}

#front-line-staff {
    text-align: center;
    margin: 20px 0;
}

.staff-impact {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

footer {
    height: 150px;
}

            #wear-your-mask h2{
                font-family:Poppins, sans-serif;
                text-align:center;
                color:white;
                padding:30px;
            }

            #p{
                font-family:Roboto, sans-serif;
                border:2px solid darkslategray;
                padding:30px;
            }

            .div{
                display:block;
            }

           
    footer{
    height:150px;
    }
    
    .social-networks{
        text-align:center;
        }

        .social-networks > li{
            display:inline;

        }

        .social-networks i {
            font-size:160%;
            margin:1%;
            padding:5%;
            color:#2c88e2;
        }



#anxiety {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #2c88e2;
}

#long-covid {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: darkslategray;
}




#long-covid h2 {
    text-align: center;
}

#long-covid p {
    text-align: center;
}

#photos-images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>images {
    width: 100%;
    float: right;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #2c88e2;
    outline: none;
}

hr {
    border: 1px solid darkslategray;
    margin-bottom: 25px;
}


input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #2c88e2;
}

button {
    background-color: darkslategray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}








#remote-working {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#symptoms-of-cornavirus {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#iframe {
    width: 100%;
}









@media screen and (max-width:1200px){
    #stay-at-home {
        width:65%;
        }
      

#nav {
    padding: 30px 0;
}

#left-about #right-about {
    width: 100%;
    float: left;
    padding: 0;
}

#center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
}

#time-frame> div {
    width: 100%;
    clear: both;
    height: 150px;
    padding: 0;
}

hr {
    display: none;
}

@media screen and (max-width:950px) {

    #nav {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

#cover-text {
    left: 0;
}

#coronavirus-2019 {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading,
.right-about-heading {
    width: inherit;
}

.left-about-heading h2,
.right-about-heading h2 {
    width: 100%;
    text-align: center;
}


.left-about-heading p, .rigth-about-heading p{
        text-align: center;
        padding: 0 20px;
        }

        #photos{
            columns:3;
            }

            @media screen and (max-width:800px){
                #photos{
                    columns: 2;
                }
            }
    @media only screen and (max-width: 600px){
    body {
    background:url("https://images.pexels.com/photos/5863397/pexels-photo-5863397.jpeg?auto=compress&cs=tinysrgb&w=1600")no-repeat center center;
    }
}
iframe{
    border-width: 0px;
}
}